.custom-margin {
    padding: 33px;
}

.text-purple {
    color: #7B61FF !important;
}

.btn-purple {
    font-size: 1rem;
    background-color: #7B61FF;
    border-color: #7B61FF;
    color: #fff;
}

.btn-purple:hover {
    background-color: #6A50D3;
    border-color: #6A50D3;
    color: #fff;
}

.icon-search {
    font-size: 1rem;
    width: 1em;
    height: 1em;
}

