.column-content {
    max-width: 19.375rem; /* 310px em rem */
}

@media (min-width: 1200px) {
    .column-content {
        max-width: 37.5rem; /* 600px em rem */
    }
}

.new-task {
    width: 100%;
    font-weight: bold;
    background-color: #ede7fe;
    color: #762BF4;
}

.new-task:hover {
    background-color: #762BF4;
    color: #fff;
}

.column-title {
    color: #6C757D;
    font-weight: 400;
    font-size: 1rem;
}
